/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    margin: 0;
    font-family: 'Share Tech Mono', Monospace, Courier;
    font-size: 17px;
    background-color: #222;
}

/* page contnet */
#content {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

/* Style tab links */
#tabmenu {
    width: 850px;
    outline: 2px;
}

.tablink {
  background-color: #222;
  color: #C7C4C3;
  float: left;
  border: none;
  border-right: dotted 1px #4d4d4d;
  border-bottom:dotted 1px #4d4d4d;
  border-top: dotted 1px #4d4d4d;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33%;
}

.tablink:hover {
  background-color: #C7C4C3;
  color: #222;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    width:760px;
    height: 600px;
    background: #222;
    color: #C7C4C3;
    display: none;
    padding: 100px 20px;
    border: dotted 1px #4d4d4d;
    border-top: none;
}

.console_btn {
    background: none;
    border: none;
    padding: 0;
	font-family: 'Share Tech Mono', Monospace, Courier;
	font-size:17px;
   	color: #C7C4C3;
    background-color: #222;
    cursor: pointer;
}

.console_btn:hover {
    text-decoration: underline;
}

/* styling for the projects page with a flex box*/
#project_menu {
    width: 200px;
}

#project_read {
    width: 650px;
    height: 700px;
}

iframe {
    border: dotted 1px #4d4d4d;
    margin: 20px;
}

.about_proj {
    color: #C7C4C3;
    margin: 10px;
    font-size: 17px;
}

/*Link styling */
a {
	color: #0bc;
	text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Front page terminal stlying */
#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}
